<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.ico" type="image/ico">
	<meta charset="utf-8">
	<title>测试Smarty继承页面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/resource/uilibs/jquery/jquery/1.10.1/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/resource/uilibs/gallery2/bootstrap/3.1.1/css/bootstrap.css">
</head>
<body>
	<h1 class='aaa'>h1. Bootstrap heading <small>Secondary text</small></h1>
	<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
	<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
	<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
	<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
	<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
	<p class="text-left">Left aligned text.</p>
	<p class="text-center">Center aligned text.</p>
	<p class="text-right">Right aligned text.</p>
	{{block name="content"}}
		{{$tes}}
	{{/block}}
	<script src="/resource/uilibs/seajs/seajs/2.1.1/sea.js"></script>
	<script src="/resource/uilibs/seajs-config.js" language="javascript">
	</script>
	<script>
		seajs.use('/resource/web/js/app.js',function(app){
			{{block name="script"}}
			{{/block}}
		});
	</script>
	{{block name="script"}}
	{{/block}}
</body>
</html>